.idea/
.clangd
*.iml
*/pyc
*.orig
.rake_tasks~
/.bundle/
null/
.DS_Store
*.log
tags
.tern-project
*.swp
*.swo
*.swn
*.swm
.vimlocal
.vim
.yalc/
yalc.lock
.ackrc
.data
compile_commands.json
jsconfig.json
.python-version
__pycache__
